 /*
COLORS
pale blue: #99B2D4
purple: #904BC9
tourquiose:#81CBC6
pale yellow: #FBEF6B
deep red: #9B2D40
*/


body { 
    background-color:none;
    color: #904BC9;
    font-family: "roboto", sans-serif;
}  

#header {
    background-color: none;
    min-height: 80px;
}

#header > h1 {
    margin: 0;
    text-align: center;
    position: relative;
    transform: translateY(50%);
}

#nav {
    background-color:#904BC9;
    min-height: 80px;
    height: auto;
}

#nav > ul {
    text-align: center;
    padding: 15px, 0, 15px, 0;
    margin: 0;
}

#nav > ul > button {
    min-width: 178px;
    color: white;
    background-color: #85C4C3;
    border: none;
    padding: 15px 32px;
    transition: background-color .25s;
}

#nav > ul > button:hover {
    background-color: #99B2D4;
}

/*.menu {
    display:flex;
    background: aliceblue;
    justify-content: space-around;
    list-style: none;
    margin: 0;
}*/

/*#middle-wrapper-width { 
    max-width: 960px;
    margin: 0 auto;
}

#middle-wrapper {
     display: flex;
    max-width:60%;
}*/

.side-by-side {
    display: flex;
}
#main-content-wrapper {
    background-color: #fff;
}

#main-content-wrapper .image-content {
    text-align:center;
    margin-top:50px;
    margin:0 auto;
}

.image-content > img {
    max-width: 200px;
    border-radius: 100px;
    margin-top: 50px;
}

.image-content > h2 {
    font-weight: 300;
    color: #904BC9;
}
.image-content > h2 > a {
    color: #904BC9; 
    border:none; 
    padding: auto;
    transition:color .25s;
}
.image-content > h2 > a:hover {
    transition: color 1s;
    color: #99B2D4;
}

#main-content-wrapper article {
    width:400px;
    margin-top:50px;
    margin-bottom: 50px;
}

#main-content-wrapper article h4 {
    text-align: center;
}

#main-content-wrapper article p {
    max-width:300px;
    margin: 0 auto;
}

#main-content-wrapper #skills {
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
}

#main-content-wrapper #skills span {
    font-weight: 400;
}

#aside-content-wrapper {
    background-color: #fff;
    margin-top:50px;
}

#aside-right {
    width:200px;
}

#aside-right h5 {
    text-align: center;
    padding-top:80px;
}
#latest-work {
    list-style-type: none;
}

#latest-work > li {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px black solid;
}

#latest-work > li:before {
    content: "";
    border-color: transparent;
    border-style: solid  #904BC9;
    border-width: .35em 0 .35em .45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: .9em;
    position: relative;
}

#favorite-sites {
    background-image:url(img/computer.jpeg);
    border-top: 5px #FBEF6B solid;
    border-bottom: 5px #81CBC6 solid;
}
#favorite-sites > col-4 > img {
    list-style-type:none;
    margin: 0;
    padding:40px;
    display: flex;
    justify-content: space-around;
}
footer { 
    background-color: #fff;
    text-align:center;
}
footer > h1 {
    margin: 0;
    transform:translateY(50%);
}